
<header>
      <img src="./../../assets/Logo.png">
</header>
  <div class="container">
    <main>
        <div class="form-inputs">
          <input type="text" placeholder="Nome">
          <input type="text" placeholder="Área total">
          <input type="text" placeholder="Cidade">
          <input type="text" placeholder="Ano Plantio">
          <input type="text" placeholder="Custos">
          <input type="text" placeholder="Produção">
          <button>Enviar</button>
        </div>
    </main>
  </div>
  <app-menu-footer></app-menu-footer>


