<header>
  <img src="./../../assets/Logo.png">
  <h1>Simplificando<br> os dados</h1>
</header>
<main>
  <div class="container">
    <div class="cards">
      <div class="card">
          <ul>
              <li>
                <div class="circle"><img src="./../../assets/perfil.png"></div>
                <span>José</span>
                <h2>Nome</h2>
              </li>
              <li>
                <div class="circle"><img src="./../../assets/tiles.png"></div>

                <span>1 alqueire</span>
                <h2>Área Total</h2>
              </li>
              <li>
                <div class="circle"><img src="./../../assets/cityscape.png"></div>
                <span>Tupã</span>
                <h2>Cidade</h2>
              </li>
              <div class="align-li">
                <li>
                  <div class="circle"><img src="./../../assets/new-year.png"></div>
                  <span>2020</span>
                  <h2>Ano plantio</h2>
                </li>
                <li>
                  <div class="circle"><img src="./../../assets/low-price.png"></div>
                  <span>50mil</span>
                  <h2>Custos</h2>
                </li>
                <li>
                  <div class="circle"><img src="./../../assets/weight-scale.png"></div>
                  <span>1 tonelada</span>
                  <h2>Produção</h2>
                </li>
              </div>
          </ul>
      </div>

    </div>
  </div>
</main>
<app-menu-footer></app-menu-footer>
